.activity {
    .header {
        display: flex;
        align-items: center;

        .left, .right {
            flex: 1 0;
        }

        $padding: 2em;

        .left {
            padding-right: $padding;
        }

        .center {
            flex: 0 0 auto;
            width: 100%;
        }

        .right {
            padding-left: $padding;
            text-align: right;

            .action {
                text-decoration: none;
                font-size: 14px;
            }
        }
    }

    @media (max-width: 900px) {
        .header {
            flex-flow: column nowrap;
        }

        .left {
            padding-right: 0;
        }

        .right {
            padding-left: 0;
        }
    }

    .route-container {
        grid-area: map;
        margin: 0.5em -1em 0;
        overflow: hidden;

        .route-wrapper {
            display: flex;
            flex-flow: column nowrap;

            .map-wrapper {
                position: relative;
                flex: 1;

                .map {
                    border-right: none;
                    border-left: none;
                }

                .overlay {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translate(-50%, 2px);

                    .overlay-button {
                        margin: 0 auto;
                        background-color: #fff;
                        padding: 5px;
                        line-height: 1;
                        letter-spacing: 2px;
                        font-size: 12px;
                        text-align: center;
                        border-radius: $border-radius $border-radius 0 0;
                        display: inline-block;
                        border-top: $border;
                        border-right: $border;
                        border-left: $border;

                        .label {
                            text-transform: uppercase;
                            padding: 0 1em;
                        }
                    }
                }
            }

            .analysis {
                //height: 200px;

                .analysis-altitude, .analysis-speed {
                    height: 100px;
                }

                .section-header {
                    margin: .5em;
                    padding: 0;
                    font-size: 14px;
                }
            }
        }
    }
}
