$padding: 2em;
$artwork-size: 200px;
$topbar-height: 45px;

.browse {
    display: block;
    height: 100%;

    .wrapper {
        height: 100%;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: $topbar-height 1fr;
        grid-template-areas: "topbar" "content";

        .topbar {
            grid-area: topbar;
            display: flex;

            .search {
                flex: 1;
                margin: 0;
                border-left: 0;
                border-top: 0;
                height: $topbar-height;
                display: flex;
                border-right: $box-normal-border;
            }

            .buttons {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: stretch;

                .button {
                    width: $topbar-height;
                    border-right: $box-normal-border;
                    border-bottom: $box-normal-border;

                    line-height: $topbar-height;
                    text-align: center;
                    font-size: 12px;

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        .content {
            padding: $padding;
            overflow-y: auto;
            grid-area: content;

            .album {
                display: flex;
                margin: -2em -2em 0 -2em;
                padding: 2em;

                .artwork {
                    width: $artwork-size;
                    height: $artwork-size;
                    margin-right: 2em;
                }

                .info {
                    .crumbs {
                        margin: 0;
                        padding: 0;
                        font-size: 10px;
                        text-transform: uppercase;
                        color: inherit;

                        li {
                            display: inline-block;
                            margin: 0;
                            padding: 0;
                            padding-bottom: 5px;

                            &::after {
                                content: "\f054";
                                font-family: "Font Awesome 5 Free";
                                margin: 0 10px;
                                font-weight: 900;
                            }

                            &:last-child::after {
                                display: none;
                            }
                        }

                        a {
                            color: inherit;
                            text-decoration: none;

                            &:hover {
                                color: $primary-color;
                            }
                        }
                    }

                    .title {
                        font-size: 25px;
                        font-weight: $font-weight-bold;
                    }

                    .details {
                        margin: .2em 0;
                    }
                }
            }

            .tracks {
                margin: 0 (-($padding));
            }
        }

        .forbidden-message {
            display: none;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;

            .message {
                padding: 1em;

                .icon {
                    padding-bottom: 1em;
                    font-size: 30px;
                }
            }
        }
    }

    &.forbidden {
        .wrapper {
            grid-template-areas: "topbar topbar" "forbidden forbidden";

            .content, .sidebar {
                display: none;
            }

            .forbidden-message {
                display: flex;
                grid-area: forbidden;
            }
        }
    }

    @media (max-width: $responsive-threshold-mobile) {
        .wrapper {
            .content {
                .album {
                    text-align: center;
                    justify-content: center;

                    .artwork {
                        display: none;
                    }
                }
            }
        }
    }
}
