$padding: 2em;
$artwork-size: 200px;
$topbar-height: 45px;

.browse {
    display: block;
    height: 100%;

    .wrapper {
        //display: flex;
        //align-items: stretch;
        height: 100%;

        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: $topbar-height 1fr;
        //grid-column-gap: $spacing;
        //grid-row-gap: $spacing;
        grid-template-areas:
                "topbar topbar"
                "sidebar content";

        .topbar {
            grid-area: topbar;
            display: flex;

            .form-input {
                flex: 1;
                margin: 0;
                border-left: 0;
                border-top: 0;
            }

            .buttons {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: stretch;

                .button {
                    width: $topbar-height;
                    border-right: $box-normal-border;
                    border-bottom: $box-normal-border;

                    line-height: $topbar-height;
                    text-align: center;
                    color: $box-normal-text-dimmed-color;
                    font-size: 12px;
                }
            }
        }

        .sidebar {
            //width: 400px;
            border-right: $box-normal-border;
            box-sizing: border-box;
            color: $box-normal-text-color;
            text-align: right;
            display: flex;
            flex-flow: column;
            grid-area: sidebar;

            .album, .now-playing {
                padding: $padding;
            }

            .album {
                flex: 1;

                .crumbs {
                    margin: 0;
                    padding: 0;
                    font-size: 10px;
                    text-transform: uppercase;
                    color: inherit;

                    li {
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        padding-bottom: 5px;

                        &::after {
                            content: "\f054";
                            font-family: "Font Awesome 5 Free";
                            margin: 0 10px;
                            font-weight: 900;
                        }

                        &:last-child::after {
                            display: none;
                        }
                    }

                    a {
                        color: inherit;
                        text-decoration: none;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                .title {
                    font-size: 25px;
                    font-weight: bold;
                }

                .artwork {
                    width: $artwork-size;
                    height: $artwork-size;
                    margin: 1em 0em 1em auto;
                    box-shadow: $box-normal-box-shadow;
                    background-color: $primary-color;
                }
            }

            .now-playing {
                border-top: $box-normal-border;
            }
        }

        .content {
            padding: $padding;
            //flex: 1;
            overflow-y: auto;
            grid-area: content;

            .tracks {
                margin: 0 (-($padding));
            }
        }
    }

    @media (max-width: 1200px) {
        .wrapper {
            .sidebar {
                width: 400px;
            }
        }
    }

    @media (max-width: 1000px) {
        .wrapper {
            .sidebar {
                width: 300px;
            }
        }
    }

    @media (max-width: $responsive-threshold-mobile) {
        .wrapper {
            flex-direction: column;

            .sidebar {
                width: auto;
                text-align: center;
                border-right: none;
                border-bottom: $box-normal-border;

                .album {
                    .artwork {
                        display: none;
                    }
                }
            }
        }
    }
}
