$padding: 2em;
$artwork-size: 200px;
$topbar-height: 45px;

.browse {
    display: block;
    height: 100%;

    .wrapper {
        height: 100%;

        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: $topbar-height 1fr;
        grid-template-areas: "topbar topbar" "sidebar content";

        .topbar {
            grid-area: topbar;
            display: flex;

            .search {
                flex: 1;
                margin: 0;
                border-left: 0;
                border-top: 0;
                height: $topbar-height;
                display: flex;
                border-right: $box-normal-border;
            }

            .buttons {
                list-style-type: none;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: stretch;

                .button {
                    width: $topbar-height;
                    border-right: $box-normal-border;
                    border-bottom: $box-normal-border;

                    line-height: $topbar-height;
                    text-align: center;
                    font-size: 12px;

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }

        .sidebar {
            border-right: $box-normal-border;
            box-sizing: border-box;
            color: $box-normal-text-color;
            text-align: right;
            display: flex;
            flex-flow: column;
            grid-area: sidebar;

            .album, .now-playing {
                padding: $padding;
            }

            .album {
                flex: 1;

                .crumbs {
                    margin: 0;
                    padding: 0;
                    font-size: 10px;
                    text-transform: uppercase;
                    color: inherit;

                    li {
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        padding-bottom: 5px;

                        &::after {
                            content: "\f054";
                            font-family: "Font Awesome 5 Free";
                            margin: 0 10px;
                            font-weight: 900;
                        }

                        &:last-child::after {
                            display: none;
                        }
                    }

                    a {
                        color: inherit;
                        text-decoration: none;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }

                .title {
                    font-size: 25px;
                    font-weight: bold;
                }

                .artwork {
                    width: $artwork-size;
                    height: $artwork-size;
                    margin: 1em 0em 1em auto;
                    box-shadow: $box-normal-box-shadow;
                    background-color: $primary-color;
                }
            }

            .now-playing {
                border-top: $box-normal-border;
            }
        }

        .content {
            padding: $padding;
            overflow-y: auto;
            grid-area: content;

            .tracks {
                margin: 0 (-($padding));
            }
        }

        .forbidden-message {
            display: none;
            height: 100%;
            align-items: center;
            justify-content: center;
            text-align: center;

            .message {
                padding: 1em;

                .icon {
                    padding-bottom: 1em;
                    font-size: 30px;
                }
            }
        }
    }

    &.forbidden {
        .wrapper {
            grid-template-areas: "topbar topbar" "forbidden forbidden";

            .content, .sidebar {
                display: none;
            }

            .forbidden-message {
                display: flex;
                grid-area: forbidden;
            }
        }
    }

    @media (max-width: 1000px) {
        .wrapper {
            grid-template-columns: 300px 1fr;
        }
    }

    @media (max-width: $responsive-threshold-mobile) {
        .wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: $topbar-height auto 1fr;
            grid-template-areas: "topbar" "sidebar" "content";

            .sidebar {
                text-align: center;
                border-right: none;
                border-bottom: $box-normal-border;

                .album {
                    .artwork {
                        display: none;
                    }
                }
            }
        }
    }
}
