.new-activity {
    .title-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 2em 0;

        .form-input {
            margin: 0;
            flex: 1;
        }

        .form-radio {
            margin-right: -.5em; // based on the margin-right in form-radio
        }
    }
}
