.new-activity {
    .title-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 1em 0;

        .form-input {
            margin: 0;
            flex: 1;
        }

        .form-radio {
            margin-left: .5em;
        }
    }
}
