.register {
    .center {
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            width: 100%;
            max-width: 400px;

            .app-button {
                max-width: 200px;
                margin: 0 auto;
            }

            .form-input {
                margin: 2em 0;

                &:first-child {
                    margin-top: 0;
                }
            }
        }
    }
}
