.register {
    padding: 2em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .action-bar {
        margin: -2em -2em 0;
    }

    .main-header {
        margin-top: -2px;
    }

    .center {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            width: 100%;
            max-width: 400px;

            .app-button {
                max-width: 200px;
                margin: 0 auto;
            }

            .form-input:first-child {
                margin-top: 0;
            }
        }
    }
}
