.settings-privacy-zones {
    .button {
        max-width: 200px;
        margin: 0 auto;
    }

    .privacy-zones {
        margin: 1em 0;
        padding: 0;
        list-style-type: none;

        >li {
            &:not(:first-child) {
                margin-top: 1em;
            }

            &:not(:last-child) {
                margin-bottom: 1em;
            }
        }
    }

    .spinner {
        padding: 1em;
        font-size: 20px;
        text-align: center;
    }
}
