$image-size: 200px;

.albums {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .album {
        color: $box-normal-text-color;
        padding: 1em;
        font-size: 16px;

        .image  {
            width: $image-size;
            height: $image-size;
            background-color: $primary-color;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .title {
            margin-top: .5em;
        }
    }

    .album:hover {
        background-color: $primary-color;
        cursor: pointer;
        color: white;

        .image {
            background-color: $box-normal-background-color;
        }
    }
}

