$spacing: 10px;

.controls {
    display: flex;
    align-items: center;
    background-color: $box-dark-background-color;
    color: $box-dark-text-color;

    a:hover {
        color: $primary-color;
        cursor: pointer;
    }

    .center {
        flex: 1;
        flex-flow: column;

        display: flex;

        .core {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            margin: $spacing $spacing 0 $spacing;

            .previous, .next {
                font-size: 15px;
            }

            .play {
                font-size: 25px;
                margin: 0 .5em;
            }
        }

        .progress {
            display: flex;
            margin: 0 $spacing $spacing $spacing;
            align-items: center;

            .bar {
                flex: 1;
                margin: 0 $spacing;
            }
        }
    }

    .left, .right {
        min-width: 300px;
    }

    .left {
        margin: $spacing 0 $spacing $spacing;
        display: flex;
        min-height: 100%;

        .artwork {
            background-color: $primary-color;
            width: 45px;
            height: 45px;
            margin-right: $spacing;
        }

        .name {
            flex: 1;
            display: flex;
            flex-flow: column;

            .title {
                font-size: 15px;
                margin-bottom: $spacing;
            }

            .album {
                color: $box-dark-text-dimmed-color;
            }
        }
    }

    .right {
        margin: $spacing $spacing $spacing 0;

        .volume {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .mute {
                margin-right: $spacing;
            }

            .bar {
                width: 100px;
            }
        }
    }
}
