.current-user {

    a {
        display: block;
        height: 100%;
        width: 100%;

        &:hover {
            color: $primary-color;
        }
    }

    .avatar {
        font-size: 20px;
    }

    .username {
        font-size: 20px;
    }
}
