.current-user {
    font-size: $top-bar-font-size;

    a {
        &:hover {
            color: $primary-color;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;

        li {
            margin: 0 .5em;

            &:last-child {
                margin-right: 0;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }
}
