$padding: 5px;

.main-header {
    margin: 1em 0;
    display: flex;
    font-weight: normal;
    align-items: center;

    .text {
        font-size: 20px;
        border-left: 3px solid $primary-color;
        padding-left: .5em;
        flex: 1;
    }
}
