$padding: 5px;

.main-header {
    margin: 1em 0;

    .text {
        font-size: 20px;
        font-weight: normal;
        border-left: 3px solid $primary-color;
        padding-left: .5em;
    }
}
