.privacy-zone {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 200px;
    grid-template-areas:
        "name actions"
        "map map";


    >.map {
        grid-area: map;
    }

    >.name, >.actions {
        padding: 1em 0;
        font-size: 14px;
    }

    >.name {
        grid-area: name;
    }

    >.actions {
        grid-area: actions;

        a {
            text-decoration: none;
        }
    }
}
