$height: 5px;

.progress-bar {
    background-color: $box-dark-text-dimmed-color;

    &, & .filled-in {
        border-radius: $height;
        height: $height;
    }

    .filled-in {
        width: 33%;
        background-color: $primary-color;
    }
}
