.songs {
    font-size: 15px;
    padding: 0;
    margin: 0;

    .song {
        display: flex;
        padding: .4em 0;

        .play {
            margin: 0 1em;

            &.playing {
                color: $primary-color;
            }
        }

        .title {
            flex: 1;
        }

        .duration {
        }
    }

}
