.subheader {
    color: $box-normal-text-dimmed-color;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 1em;

    .text {
    }

    .line {
        height: 1px;
        background-color: lighten($box-normal-text-dimmed-color, 20%);
        flex: 1;
        margin: 0 2em;
    }
}
