.subheader {
    color: $text-color-dimmed;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 1em 0;

    .text {
    }

    .line {
        height: $border-width;
        background-color: $border-color;
        flex: 1;
        margin: 0 0 0 2em;
    }
}
