.thumbnail {
    height: 100%;
    width: 100%;
    position: relative;

    > * {
        height: 100%;
        width: 100%;
    }

    .spinner-container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background-color: $primary-color;
    }
}
