.thumbnail {
    height: 100%;
    width: 100%;
    position: relative;

    > * {
        height: 100%;
        width: 100%;
    }

    .artwork {
        box-shadow: $box-normal-box-shadow;

        .spinner-container {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;

            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            background-color: $primary-color;
            color: #fff;
        }
    }

    .icon {
        font-size: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: $box-normal-box-shadow;
        color: $primary-color;
    }
}
