.tracks {
    font-size: 15px;
    padding: 0;
    margin: 0;

    .track {
        display: flex;
        padding: .5em 0;

        .play {
            margin: 0 1em 0 0;

            &.playing, &:hover {
                color: $primary-color;
            }
        }

        .title {
            flex: 1;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .duration {
            margin-left: 1em;
        }
    }
}
