$primary-color: #d90093;
$secondary-color: #785eef;

$box-dark-background-color: #222;
$box-dark-text-color: #ddd;
$box-dark-text-dimmed-color: #888;

$box-normal-background-color: #fff;
$box-normal-text-color: #222;
$box-normal-text-dimmed-color: #aaa;
