//$primary-color: #533feb;
//$primary-color: #ff9ff3;
//$primary-color: #f368e0;
////$primary-color: #E3008C; // nice! 
//$primary-color: #e84393; // ok
$primary-color: #fd79a8; // soft

//$primary-color: #88ffc6;


$graph-primary: #533feb;
$graph-secondary: #88ffc6;

$box-dark-background-color: #222;
$box-dark-text-color: #ddd;
$box-dark-text-dimmed-color: #888;

$box-normal-background-color: #fff;
$box-normal-text-color: #222;
$box-normal-text-dimmed-color: #aaa;
