$disabled-color: #ddd;

.app-button {
    padding: .8em;
    border: $box-normal-border-width-wide $box-normal-border-style $primary-color;
    color: $primary-color;
    display: block;
    text-align: center;
    font-weight: $font-weight-bold;
    transition: 200ms all;
    border-radius: $box-border-radius;

    &:hover {
        background-color: $primary-color;
        color: #fff;
    }

    &.disabled, &.working, &.disabled:hover, &.working:hover {
        border-color: $disabled-color;
        color: $disabled-color;
        cursor: not-allowed;
        transform: none;
        background-color: transparent;
    }

    &.danger {
        border-color: $color-danger;
        color: $color-danger;

        &:hover {
            background-color: $color-danger;
            color: #fff;
        }
    }
}
