.form-radio {
    .trigger {
        padding: .5em;
        margin: .5em;
        font-size: 16px;
        border: $border;
        border-radius: $border-radius;
        text-align: center;
        white-space: nowrap;

        .selection {
            width: 20px;
            text-align: right;
        }

        .call-to-action {
            margin-left: .3em;
        }
    }

    .dropdown-option {
        padding: .5em;
        display: block;

        &:hover {
            background-color: $primary-color;
            color: #fff;
        }
    }

}
