.form-input {
    margin: .5em 0;
    border: $box-normal-border;
    padding: .8em;
    display: flex;
    align-items: center;
    color: $box-normal-text-dimmed-color;

    .icon+input{
        padding-left: 1em;
    }

    input {
        margin: 0;
        border: 0;
        font-size: inherit;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
}
